rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /customizations/{allPaths=**} {
      allow read, write: if false;
    }
    match /{path=**} {
      allow read, write: if false;
    }
  }
}
